
<mat-toolbar color="primary">
  <mat-toolbar-row>
      <button mat-button mat-icon-button>
          <mat-icon>left_arrow</mat-icon>
      </button>
    <span>{{title}}</span>
    <span class="example-spacer"></span>
    <app-hero-search *ngIf="showSearchBar" [(showSearchBar)]="showSearchBar"></app-hero-search>
    <button mat-button mat-icon-button *ngIf="!showSearchBar" aria-label="Search" (click)="showSearchBar=true">
      <mat-icon>search</mat-icon>
     </button>
    <a mat-button routerLink="/heroes">Heroes</a>
    <a mat-button routerLink="/dashboard">Dashboard</a>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
<app-messages></app-messages>