<mat-form-field class="example-form-field">
    <mat-label></mat-label>
    <input type="search" #searchBox (input)="search(searchBox.value)" matInput [formControl]="myControl" [matAutocomplete]="auto">
    <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="searchBox.value='';showSearchBarChange.emit(false)" >
      <mat-icon>close</mat-icon>
    </button>
    <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let hero of heroes$ | async">
          <a mat-line routerLink="/detail/{{hero.id}}">
            {{hero.name}}
          </a>
        </mat-option>
    </mat-autocomplete>
</mat-form-field>